.content {
    display: flex;
    gap: 20px;

    max-width: calc(1280px + 40px);
    padding-left: 20px;
    padding-right: 20px;
    /*align-items: center;*/
    height: max(calc(100vh - 128px - 128px - 85px - 85px), 650px);
    margin: 85px auto;
}

.search {
    display: flex;
    width: 600px;
    gap: 4px;
}

.searchInput {
    color: var(--default-dark);
    font-family: Ubuntu Mono, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.99%; /* 27.998px */
    letter-spacing: 1px;
    text-align: left;
    padding: 0px 8px;
    border-radius: 8px;
    border-style: solid;
    flex-grow: 2;
}

.searchButton {
    background-color: white;
    border: solid 2px lightgray;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
}

.searchButton:hover {
    cursor: pointer;
    background-color: lightgray;
}

.content__header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 139.99%;
    letter-spacing: 0.015em;
}

.content__image {
    margin-top: 135px;
    max-width: 493px;
    max-height: 269px;
}

.verilogContainer {
    /*padding-left: 300px;*/
    padding-right: 200px;
}