.content {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-basis: 25%;*/
    /*gap: 35px;*/
    /*justify-content: space-between;*/

    max-width: calc(1280px + 40px);
    padding-left: 20px;
    padding-right: 20px;
    margin: 18px auto;
}

.contentSection {
    display: flex;
    gap: 20px;
}

.contentSection_top {

}

.contentSection_bottom {
    margin-top: 30px;
}

.content__topLeftElement {
    flex-basis: 50%;
}

.content__topRightElement {
    flex-basis: 50%;

    display: flex;
    justify-content: center;
}

.content__bottomLeftElement {
    flex-basis: 50%;
}

.content__bottomRightElement {
    flex-basis: 50%;
}

.content__header {
    color: var(--default-dark);
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 139.99%; /* 55.996px */
    letter-spacing: 2px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 75px;
}

.controls__description {
    color: var(--default-dark);
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.99%; /* 33.598px */
    letter-spacing: 0.36px;
}

.textbox {
    padding: 15px 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.textbox_input {
    border: none;
    width: 330px;

    color: var(--default-dark);
    text-align: center;
    font-family: Ubuntu Mono, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.99%; /* 27.998px */
    letter-spacing: 1px;
}

.textbox_input:focus {
    outline: none;
}

.textbox_copy {

}

.textbox_copy:hover {
    cursor: pointer;
}

.controls_download {
    width: fit-content;
    padding: 20px 50px;
    margin-top: 40px;

    border: none;
    border-radius: 20px;
    background: linear-gradient(260deg, #0089CD -5.57%, #00BCCD 87.25%);

    color: var(--default-white);
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 139.99%; /* 33.598px */
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

.controls_download:hover {
    cursor: pointer;
    background: linear-gradient(200deg, #0089CD 20%, #00BCCD);
}

.errorsList {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);

    margin-top: 29px;
    padding: 10px 10px 20px;
    height: 555px;
    overflow-y: auto;

    scrollbar-width: thin;
}

.error {
    display: flex;
    gap: 10px;
    padding: 10px;

    margin-top: 10px;

    border-radius: 5px;
    border: 1px solid var(--default-gray);
    background: var(--default-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.error:hover {
    cursor: pointer;
}

.error__description {
    color: var(--default-dark);
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.99%; /* 22.398px */
    letter-spacing: 0.24px;
}

.error_ico {

}

.documentContainer {
    background-color: var(--default-gray);
    border-radius: 10px;
    height: 556px;
}

.documentContainer_wrapped {
    height: 900px;
}

.documentContainer__view {
    width: 100%;
    background-color: var(--default-white);
    transform: scaleX(0.8);
    height: 100%;
    scrollbar-width: thin;
    border: none;
}

.content__wrapButton {
    margin-bottom: 6px;
}

.content__wrapButton:hover {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .content__topLeftElement {
        flex: auto;
    }

    .content__bottomRightElement {
        flex: auto;
    }

    .content__topRightElement {
        display: none;
    }

    .content__bottomLeftElement {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .textbox {
        gap: 10px;
        padding: 10px 10px;
        font-size: 8px;
    }

    .content__header {
        font-size: 32px;
    }
}

@media screen and (max-width: 425px) {
    .controls_download {
        width: 220px;
        font-size: 16px;
        padding: 16px ;
        margin-top: 16px;
    }

    .controls__description {
        font-size: 20px;
    }

    .textbox_input {
        font-size: 20px;
    }

    .textbox {
        gap: 5px;
        padding: 10px 5px;
        font-size: 8px;
    }

    .textbox_input {
        width: fit-content;
    }

    .content__header {
        font-size: 24px;
    }

    .controls {
        margin-top: 16px;
    }
}

@media screen and (max-width: 325px) {
    .controls {
        margin-top: 0;
    }

    .controls_download {
        width: fit-content;
        font-size: 14px;
        padding: 8px 16px;
        margin-top: 12px;
    }

    .controls__description {
        font-size: 16px;
    }

    .textbox {
        height: 40px;
    }

    .textbox_copy {
        transform: scale(0.7);
    }

    .textbox_input {
        font-size: 16px;
    }

    .content__header {
        font-size: 18px;
    }

}