.studentDocuments {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 28.07px;

    display: flex;
    gap: 16px;

    user-select: none;
}

.controls {
    border: 1px solid var(--info-dark-blue);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    width: 50%;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filters__header {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--info-dark-blue);
    text-align: center;
}

.filtersGroup {
    border: 1px solid var(--info-dark-blue);
    border-radius: 5px;
    padding: 10px 20px;
}

.filtersGroup__header {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--info-dark-blue);
    text-align: center;
}

.filterCheckbox {
    display: flex;
    gap: 4px;
}

.filterCheckbox__label {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--info-dark-blue);
}

.filterCheckbox__label:hover {
    cursor: pointer;
}

.filterCheckbox__input {

}

.students {
    border: 1px solid var(--info-dark-blue);
    border-radius: 5px;
    padding: 10px 20px;
}

.search {

}

.search__header {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--info-dark-blue);
    text-align: center;
}

.searchField {
    display: flex;
    gap: 4px;
}

.searchField__input {
    width: 100%;
    height: 24px;

    border: 1px solid var(--info-dark-blue);
    border-radius: 5px;
    padding: 10px 20px;


    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--info-dark-blue);
}

.searchField__button {
    width: 24px;
    height: 24px;
    padding: 2px;

    border-radius: 5px;
    border: 1px solid var(--info-dark-blue);
    background: url("./static/searchIco.svg");
}

.searchField__button:hover {
    cursor: pointer;
    background-color: var(--default-light-grey);
}

.searchResults {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-top: 16px;
    height: 250px;
    max-height: 250px;
    overflow-y: auto;
}

.searchResult {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--info-dark-blue);
}

.searchResult__fullName {

}

.searchResult__separator {

}

.searchResult__groupName {

}

.downloadCsv {
    display: flex;
    justify-content: center;
}

.downloadCsvButton {
    color: var(--default-white);

    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.5%;

    width: 390px;
    height: 64px;

    background-color: var(--acceptance-green);
    border: none;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.downloadCsvButton:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.downloadCsvButton:active {
    filter: brightness(85%);
}

.documents {
    border: 1px solid var(--info-dark-blue);
    border-radius: 5px;
    padding: 10px 5px;
    width: 50%;
    max-height: 430px;
    overflow-y: auto;
}

.documents__header {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--info-dark-blue);
    text-align: center;
}

.documents__placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--info-dark-blue-light);
    margin-left: 16px;
}

.documentNode {
    border: 1px solid var(--info-dark-blue);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    text-decoration: none;
    height: 50px;
    gap: 20px;
}

.documentNode:hover {
    cursor: pointer;
    background: var(--info-blue-light);
}

.documentNode__header {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.documentNode__description {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--info-dark-blue);

    max-width: 250px;
    max-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.documentNode__buttons {
    display: flex;
    gap: 15px;
}

.documentNode__status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.documentNode__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.documentNode__button:hover {
    background-color: var(--default-light-grey);
    border-radius: 5px;
}