.studentResult {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 28.07px;
    /*height: max(calc(100vh - 92px - 120px - 64px), 1024px);*/

    display: flex;
    gap: 66px;
}

.sectionHeader {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--info-dark-blue);
}

.documentVerdict {
    display: flex;
    gap: 4px;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;

    width: 579px;
    /*height: 98px;*/
    border: 1px solid var(--info-dark-blue);
    border-radius: 5px;

    position: relative;
}

.documentVerdict__text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--info-dark-blue);
}

.documentVerdict_notChecked {
    color: var(--rejection-red);
}


.documentVerdict_accepted {
    color: var(--acceptance-green);
}


.documentVerdict_rejected {
    color: var(--bright-purple);
}

.documentVerdict__comment {
    display: block;
    width: 100%;
    height: 128px;
    resize: none;

    padding: 10px;

    border: 1px solid var(--info-dark-blue);
    border-radius: 5px;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--info-dark-blue);
}

.documentVerdict__comment:disabled {
    background-color: var(--default-light-grey);
}

.documentVerdict__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.documentVerdict__studentName {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--info-dark-blue);
}

.documentVerdict__status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.documentVerdict__logo {
    width: 30px;
    height: 30px;
    user-select: none;
}

.documentVerdict__controls {
    display: flex;
    gap: 8px;
    align-items: center;
}

.documentVerdict__controls:hover {
    cursor: pointer;
}

.documentVerdict__description {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--info-dark-blue);
    user-select: none;
}

.documentVerdict__commentDisplay {
    width: 30px;
    height: 16px;
    user-select: none;
}

.acceptButton {
    color: var(--default-white);

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.5%;

    padding: 8px 16px;

    background-color: var(--acceptance-green);
    border: none;
    border-radius: 10px;

    align-self: center;
}

.acceptButton:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.acceptButton:active {
    filter: brightness(85%);
}

.rejectButton {
    color: var(--default-white);

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.5%;

    padding: 8px 16px;

    background-color: var(--rejection-red);
    border: none;
    border-radius: 10px;

    align-self: center;
}

.rejectButton:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.rejectButton:active {
    filter: brightness(85%);
}

.commentary {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--default-white);
    border: 1px solid var(--info-dark-blue);
    border-radius: 5px;
    padding: 10px;
    /*height: 540px;*/
    overflow-y: auto;
}

.commentary__header {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--info-dark-blue);
}

.commentary__content {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--info-dark-blue);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.search__goBack {
    border: none;
    background: url("./static/goBackIco.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    position: absolute;
    margin-right: 440px;
    margin-top: 16px;
}

.search__goBack:hover {
    cursor: pointer;
}

.mistakes {
    border: 1px solid var(--info-dark-blue);
    border-radius: 5px;
    width: 577px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;

    height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.mistakes__placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--info-dark-blue-light);
}

.mistake {
    border: 1px solid #1e4391;
    border-radius: 5px;
    padding: 10px 12px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--default-white);

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--info-dark-blue);

    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.mistake__buttons {
    display: flex;
    gap: 30px;
    align-items: center;
}

.mistake__button {

}

.mistake__button:hover {
    cursor: pointer;
}

.downloadButton {
    color: var(--default-white);

    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.5%;

    width: 380px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: var(--acceptance-green);
    border: none;
    border-radius: 10px;

    align-self: center;
}

.downloadButton:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.downloadButton:active {
    filter: brightness(85%);
}

.downloadButton:enabled:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.downloadButton:enabled:active {
    filter: brightness(85%);
}

.downloadButton:disabled {
    background-color: var(--disabled-grey);
    cursor: not-allowed;
}

.downloadButton__arrow {
    width: 24px;
    height: 24px;
}

.documentViewer {
    border: none;
    background-color: var(--default-light-grey);
    border-radius: 10px;
    width: 535px;
    height: 810px;
    display: flex;
    justify-content: center;
}

.documentViewer__document {
    width: 505px;
    /*height: 633px;*/
    background-color: var(--default-white);
    border: none;
}

.selectedMistake {
    border-style: solid;
    border-radius: 5px;
    border-color: red;
    border-width: 2px;
    background-color: rgba(255, 0, 40, 0.1);
}