.content {
    display: flex;
    gap: 20px;

    max-width: calc(1280px + 40px);
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;

    margin: 85px auto;
}

.contentLeft {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contentH1 {
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 139.99%; /* 55.996px */
    letter-spacing: 0.6px;
}

.contentP {
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.99%; /* 39.197px */
    letter-spacing: 0.42px;
}

.uploadBlock {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    max-width: 615px;
}

.uploadButton {
    border: none;
    border-radius: 20px;
    background: linear-gradient(0deg, var(--default-red) 0%, var(--default-red) 100%);
    box-shadow: 0px 19px 11px -16px #0380B1;

    width: 325px;
    height: 79.418px;

    color: var(--default-white);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 139.99%; /* 33.598px */
    letter-spacing: 0.36px;
}

.uploadHint {
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 139.99%; /* 27.998px */
    letter-spacing: 0.4px;
}

.contentRight {

}

@media screen and (max-width: 1079px) {
    .contentRight {
        display: none;
    }
}

.contentImage {
    max-width: 500px;
}