.content {
    display: flex;
    gap: 20px;

    max-width: calc(1280px + 40px);
    padding-left: 20px;
    padding-right: 20px;
    /*align-items: center;*/
    height: max(calc(100vh - 128px - 128px - 85px - 85px), 550px);

    margin: 85px auto;
}

.content__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content__header {
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 139.99%; /* 55.996px */
    letter-spacing: 0.6px;
}

.content__text {
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.99%; /* 39.197px */
    letter-spacing: 0.42px;
}

.content__upload {

}

.upload__controls {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    max-width: 615px;
}

.upload__dragndrop {
    height: 79.418px;
    background-color: var(--default-gray);
    border-style: dashed;
    border-color: var(--default-dark);
    border-width: 2px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: none;
    border-radius: 20px;

    color: var(--default-white);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 139.99%; /* 33.598px */
    letter-spacing: 0.36px;
}

.button:hover {
    cursor: pointer;
}

.button_upload {
    width: 325px;
    height: 79.418px;
}

.button_red {
    background: linear-gradient(0deg, var(--default-red) 0%, var(--default-red) 100%);
}

.button_red:hover {
    background: linear-gradient(0deg, #FF4040 0%, #FF4040 100%);
}

.button_shadow {
    box-shadow: 0px 19px 11px -16px #0380B1;
}

.content__hint {
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 139.99%; /* 27.998px */
    letter-spacing: 0.4px;
}

.content__hint__upload {

}

.content__hint__error {
    color: var(--default-red);
}

.content__hint__dragndrop {
    color: var(--default-dark);
}

.bold {
    font-weight: 500;
}

.content__image {
    margin-top: 135px;
    max-width: 493px;
    max-height: 269px;
}

@media screen and (max-width: 1024px) {
    .content__image {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .content__hint__upload {
        display: none;
    }

    .content {
        height: max(calc(100vh - 128px - 128px - 85px - 85px), 620px);
    }
}

@media screen and (max-width: 425px) {
    .content__header {
        font-size: 30px;
    }

    .content__text {
        font-size: 24px;
    }

    .button_upload {
        width: 300px;
        height: 64px;
        font-size: 24px;
    }

    .content {
        margin-top: 20px;

        height: max(calc(100vh - 96px - 96px - 20px - 85px), 480px);
    }
}

@media screen and (max-width: 325px) {
    .content__header {
        font-size: 24px;
    }

    .content__text {
        font-size: 16px;
    }

    .button_upload {
        width: 160px;
        height: 48px;
        font-size: 16px;
    }

    .content {
        margin-top: 20px;

        height: max(calc(100vh - 56px - 56px - 20px - 85px), 350px);
    }
}