.header {
    background-color: var(--info-dark-blue);
    height: 92px;

    display: flex;
    justify-content: center;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1024px;
}

.header__logo {
    width: 377.09px;
    display: flex;
    gap: 8px;

    user-select: none;

    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: var(--default-white);
    text-decoration: none;
}

.header__elements {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profileWithDropdown {
    position: relative;
}

.profile {
    display: flex;
    align-items: center;
    gap: 5px;

    user-select: none;
}

.profile:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.profile__picture {
    width: 30px;
    height: 30px;
}

.arrow_picture {
    transform: scale(0.8);
}

.header__link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: var(--default-white);
    text-decoration: none;
    user-select: none;
}

.dropdownMenu {
    margin-top: 8px;
    position: absolute;
    background-color: var(--default-white);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px var(--dark-lazuli-shadow);
}

.dropdownMenu__element {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--info-dark-blue);
    text-decoration: none;
    user-select: none;
}

.dropdownMenu__element:hover {
    filter: brightness(150%);
}