.footer {
    background: var(--font-color);
    background: linear-gradient(189deg, #7574FF 6.34%, #1E4391 93.03%);
}

.footer_content {
    height: 128px;
    font-family: Inter, sans-serif;
    text-align: right;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 48px;
}

.footer_description {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 139.99%; /* 16.799px */
    letter-spacing: 0.6px;
}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 769px) {

}

@media screen and (max-width: 425px) {
    .footer_content {
        height: 96px;
        padding-top: 16px;
    }
}

@media screen and (max-width: 325px) {
    .footer_description {
        font-size: 8px;
    }
    .footer_content {
        height: 56px;
        padding: 8px 16px;
    }
}