.content {
    display: flex;
    gap: 20px;

    max-width: calc(1280px + 40px);
    padding-left: 20px;
    padding-right: 20px;
    /*align-items: center;*/
    height: max(calc(100vh - 128px - 128px - 85px - 85px), 550px);

    margin: 85px auto;
}

.content__header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 139.99%;
    letter-spacing: 0.015em;
}

.content__image {
    margin-top: 135px;
    max-width: 493px;
    max-height: 269px;
}

.verilog {
    /*padding-left: 300px;*/
    padding-right: 200px;
}

.verilog__list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    border-radius: 8px;
    background-color: var(--default-gray);
    padding: 8px;

    width: 600px;
    height: 555px;
    overflow-y: auto;

    scrollbar-width: thin;
}

.verilog__card {
    border-radius: 8px;
    border: 1px solid var(--default-gray);
    background: var(--default-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8px;
}

.verilog__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 139.99%;
    letter-spacing: 0.015em;
}

.verilog__link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 139.99%;
    letter-spacing: 0.015em;
    text-decoration: none;
    color: dodgerblue;
}