.content {
    display: flex;
    box-sizing: border-box;
    /*gap: 35px;*/
    justify-content: space-between;

    max-width: calc(1280px + 40px);
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    height: max(100vh, 700px);
    margin: 0 auto;
}

.uploadingProgress {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 165px;
}

.uploadingProgress__finishBanner {
    display: flex;
    flex-direction: column;
    gap: 35px;

    align-items: center;
}
.uploadingProgress__uploadingCompleteImg {
    max-width: 210px;
    max-height: 210px;
}
.uploadingProgress__wheel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #D2D2D2;

    background: conic-gradient(blue 0deg, white 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadingProgress__wheel::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #D2D2D2;

    background-color: var(--default-white);
}

.uploadingProgress__indicator {
    position: relative;

    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.uploadingProgress__text {
    color: #1E4391;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.99%; /* 55.996px */
    letter-spacing: 0.6px;
}

.button {
    border: none;
    border-radius: 20px;

    color: var(--default-white);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 139.99%; /* 33.598px */
    letter-spacing: 0.36px;
}

.button:hover {
    cursor: pointer;
}

.button_results {
    margin-top: 50px;
    width: 396px;
    height: 79.418px;
}

.button_red {
    background: linear-gradient(0deg, var(--default-red) 0%, var(--default-red) 100%);
}

.button_red:hover {
    background: linear-gradient(0deg, #FF4040 0%, #FF4040 100%);
}

.button_shadow {
    box-shadow: 0px 19px 11px -16px #0380B1;
}

.uploadingProgress__mascot {
    max-height: 190px;
    align-self: flex-end;
    padding-top: 50px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .uploadingProgress {
        margin-top: 40px;
    }

    .uploadingProgress__text {
        font-size: 36px;
    }
}

@media screen and (max-width: 425px) {
    .uploadingProgress {
        margin-top: 20px;
    }

    .uploadingProgress__wheel {
        transform: scale(0.8);
    }

    .uploadingProgress__mascot {
        transform: scale(0.8);
    }

    .uploadingProgress__text {
        font-size: 32px;
    }

    .button_results {
        width: 340px;
        height: 64px;
        font-size: 22px;
    }
}

@media screen and (max-width: 325px) {
    .uploadingProgress {
        margin-top: 40px;
    }

    .uploadingProgress__finishBanner {
        gap: 0;
    }

    .uploadingProgress__uploadingCompleteImg {
        transform: scale(0.9);
    }

    .uploadingProgress__wheel {
        transform: scale(0.7);
    }

    .uploadingProgress__mascot {
        padding-bottom: 50px;
        padding-top: 0px;
        transform: scale(0.7);
    }

    .uploadingProgress__text {
        font-size: 24px;
    }

    .button_results {
        width: 240px;
        height: 50px;
        font-size: 16px;
    }
}