@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --info-dark-blue: #1E4391;
    --info-dark-blue-light: #1e439180;
    --acceptance-green: #56DC9D;
    --rejection-red: #EA3029;
    --bright-purple: #E50079;
    --default-white: #FFFFFF;
    --info-blue: #2029FF;
    --info-blue-light: #2029ff2b;
    --info-soft-violet: #7574FF;
    --dark-lazuli-shadow: #0380B1;
    --disabled-grey: lightgrey;
    --default-light-grey: lightgrey;
    --default-transparent-dark-blue: rgba(30, 67, 145, 0.2);
}

body {
    margin: 0;
}

p, h1 {
    margin: 0;
}

