.content {
    display: flex;
    gap: 35px;

    max-width: calc(1280px + 40px);
    padding-left: 20px;
    padding-right: 20px;
    margin: 85px auto;
}

.contentLeft {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    min-width: 338px;
}

@media (max-width: 810px) {
    .content {
        flex-direction: column;
    }

    .contentLeft__img {
        display: none;
    }
}

.contentLeft__h1 {
    color: var(--default-dark);
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 139.99%; /* 55.996px */
    letter-spacing: 0.6px;
}

.contentLeft__p {
    color: var(--default-dark);
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.99%; /* 39.197px */
    letter-spacing: 0.42px;
}

.contentLeft__img {
    max-width: 212px;
    margin-top: 40px;
}

.contentRight {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.faqCard {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 36px;

    border-radius: 15px;
    background: var(--default-white);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
}

.faqCard__headSection {
    display: flex;
    align-items: center;
    gap: 20px;
}

.faqCard__headImage {
    max-width: 41.13px;
}

.faqCard_h1 {
    color: var(--default-dark);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 139.99%; /* 27.998px */
    letter-spacing: 0.3px;
}

.faqCard__p {
    color: var(--default-dark);
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.99%; /* 22.398px */
    letter-spacing: 0.24px;
}